@inherits CommonInventoryFunctions

<MatCard>
    <MatCardContent Class="inventorySearch">



        <div class="row">
            <div class="col-12">
                <MatStringField FullWidth="true" @bind-Value="@_searchModel.Description" Label="Description"></MatStringField>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-left">
                <MatSelect Label="Item Type" @bind-Value="_searchModel.ItemTypeId" TValue="Guid?">
                    <MatOption TValue="Guid?" Value="null"></MatOption>
                    @foreach (var record in _itemTypes)
                    {
                        <MatOption TValue="Guid?" Value="@record.Id">@record.ItemType</MatOption>
                    }
                </MatSelect>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12 text-right">
                <MatButton Raised="true" OnClick="@SearchInventory" Label="Search" Icon="search"></MatButton>
                <MatButton Type="button" OnClick="@ResetSearch" Label="Reset" Icon="clear"></MatButton>
            </div>
        </div>
    </MatCardContent>
</MatCard>
<style>
    .inventorySearch {
        padding: 1%;
    }
</style>