@inherits CommonMovieFunctions
@page "/movies/{MovieId:long}"

<h3>Movie</h3>

<EditForm EditContext="_editContext">
    <DataAnnotationsValidator />
    <MatCard>
        <MatCardContent Class="movieForm">
            <div class="row">
                <div class="col-6">
                    <MatStringField FullWidth="true" @bind-Value="@_movie.Title" Label="Title"></MatStringField>
                    <ValidationMessage For="() => _movie.Title" />
                </div>
                <div class="col-6">
                    <MatDatePicker FullWidth="true" @bind-Value="_movie.ReleaseDate" Label="Release Date" TValue="DateTime?"></MatDatePicker>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-12">
                    <MatTextField @bind-Value="@_movie.Description" Label="Description" TextArea="true" FullWidth="true"></MatTextField>
                    <ValidationMessage For="() => _movie.Description" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-6">
                    <MatTextField FullWidth="true" TValue="int?" @bind-Value="@_movie.Hours" Label="Hours"></MatTextField>
                </div>
                <div class="col-6">
                    <MatTextField FullWidth="true" TValue="int?" @bind-Value="@_movie.Minutes" Label="Minutes"></MatTextField>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <MatSelect Label="Movie Rating" @bind-Value="_movie.MovieRatingsId" TValue="Guid?">
                        @foreach (var rating in _movieRatings)
                        {
                            <MatOption TValue="Guid?" Value="@rating.Id">@this.GetRatingWithAge(rating.Rating, rating.Age)</MatOption>
                        }

                    </MatSelect>
                    <ValidationMessage For="() => _movie.MovieRatingsId" />
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-right">
                    <MatButton Raised="true" OnClick="@SaveMovie" Label="Save" Icon="save"></MatButton>
                    <MatButton Type="button" OnClick="@CancelSave" Label="Cancel" Icon="cancel"></MatButton>
                </div>
            </div>
        </MatCardContent>
    </MatCard>
</EditForm>

<style>
    .movieForm {
        padding: 1%;
    }
</style>